/* Set a charcoal background color for the section */
.about__section {
  background-color: #006400; /* Charcoal color */
  color: #fff; /* Red text color */
}

/* Set red color for headings */
.about__section-content h2 {
  color: #fff;
}

/* Set red color for icons in paragraphs */
.about__section-item p i {
  color: #fff;
}

/* Set red color for icons in the section description */
.section__description i {
  color: #006400 !important;
}

/* Set a charcoal background color for the section items */
.about__section-item {
  column-gap: 3rem;
  background-color: #006400; /* Charcoal color */
  padding: 20px; /* Add padding for better visibility */
}

/* Set red color for text in paragraphs inside section items */
.about__section-item p {
  font-size: 0.6rem;
  margin-bottom: 0;
  color: #fff;
}

/* Adjust margin for smaller screens */
@media only screen and (max-width: 992px) {
  .about__section-item p {
    font-size: 0.8rem;
  }
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  /* Adjust margin for .about__img */
  .about__img {
    margin-top: 30px;
  }
}

/* Media query for even smaller screens */
@media only screen and (max-width: 576px) {
  /* Adjust margin for .about__section */
  .about__section {
    margin-top: 200px;
  }
}
